body {
  font-family: "Roboto - Regular";
}

.participants-mentors__wrap {
  width: 100%;
  margin: auto;
}

.participants-mentors__title {
  color: #1a1818;
  font-family: Roboto;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: 33px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
}

.participants-mentors__button {
  text-align: center;
  margin-bottom: 25px;
}

.participants-mentors__button-title {
  font-weight: 600;
}

.participants-mentors__button-title.active.mentors {
  color: #E95B40;
}

.participants-mentors__button-title.active.participants {
  color: #25B5B6;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid #1a1818;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: #E95B40;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  background-color: #25B5B6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sections-list {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f2f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
}

.sections-list.sectors {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.members-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.member-container {
  display: inline-block;
}

.details-footer {
  margin-top: 35px;
}

.member-image {
  width: 39px;
  margin-right: 5px;
}

.image-description {
  color: #e8deda;
  font-size: 14px;
  font-weight: 400;
}

.image {
  width: 100%;
  height: 250px;
}

.section-container {
  width: calc(25% - 15px);
}

.section-element {
  width: calc(((100% - 30px) / 4) - 15px);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

.section-element.sector {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 20%;
  color: #25bcbd;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
}

.section-navbar-image {
  margin-bottom: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-navbar-image.members {
  position: relative;
  top: 0;
  right: 5px;
  margin-bottom: 0;
  height: 30px;
  width: 30px;
}

.members-element {
  width: 100%;
}

.member-details {
  display: none;
  position: relative;
  width: calc((100% - 3px) * 4);
  padding: 15px 35px;
  background-color: #E95B40;
}

.member-details.show {
  display: block;
}

.member-details.active {
  background-color: #25B5B6;
}

.margin-bottom {
  margin-bottom: 160px;
}

.member-role {
  font-size: 24px;
  color: #e8deda;
}

.image-label {
  font-size: 18px;
  font-weight: 900;
}

.member-name {
  font-size: 18px;
  font-weight: 900;
  color: #1a1818;
}

.memeber-description {
  font-style: italic;
  color: #231f20;
}

.hr-solid {
  width: 60%;
  border-top: 0 solid #e8deda;
  margin-top: 4px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=meetMembers.css.map */